.block2 {
    /* flex: 1 0 auto; */
    display: flex;
    flex-flow: column;
    flex-direction: column;
    max-height: 95dvh;
    height: 95dvh;
    background: linear-gradient(
      to right,
      #b498a7 0%,
      #b498a7 50%,
      #a5b1bb 50%,
      #a5b1bb 100%
    );
  }
  
  .fill2 {
    background: linear-gradient(
      to right,
      #b498a7 0%,
      #b498a7 50%,
      #a5b1bb 50%,
      #a5b1bb 100%
    );
  }

.crazy {
  position: absolute;
  width: 30dvw;
  height: 30dvh;
  max-width: 30dvw;
  object-fit: cover;
  top: 14.4dvh;
  right: 78dvw;
}

.refresh {
  position: absolute;
  width: 100%;
  max-width: 5%;
  right: 90.4dvw;
  top: 37dvh;
  font-size: 0.8dvw;
}

.CatLabel {
  position: absolute;
  left: 4.2dvw;
  top: 12dvh;
  font-weight: bold;
}
.freebird {
  max-width: 13dvw;
  height: 26dvh;
  width: 13dvw;
  position: absolute;
  left: 20dvw;
  top: 14.4dvh;
}
.bird {
  position: absolute;
  left: 19.9dvw;
  top: 38.7dvh;
  font-size: 0.8dvw;
}
.music {
  position: absolute;
  left: 19.9dvw;
  top: 12dvh;
  text-decoration: none;
  font-weight: bold;
}
.tpab {
  max-width: 13dvw;
  height: 26dvh;
  width: 13dvw;
  position: absolute;
  left: 35dvw;
  top: 14.4dvh;
}
.birdlink {
  position: absolute;
  text-decoration: none;
  word-wrap: none;
  white-space: nowrap;
}
.nirvana {
  max-width: 13dvw;
  height: 26dvh;
  width: 13dvw;
  position: absolute;
  left: 50dvw;
  top: 14.4dvh;
}
.duvet {
  max-width: 13dvw;
  height: 26dvh;
  width: 13dvw;
  position: absolute;
  left: 65dvw;
  top: 14.4dvh;
}
.DOOM {
  max-width: 13dvw;
  height: 26dvh;
  width: 13dvw;
  position: absolute;
  left: 80dvw;
  top: 14.4dvh;
}
.kendrick {
  position: absolute;
  left: 34.96dvw;
  top: 38.7dvh;
  font-size: 0.8dvw;
}

.bowie{
    position: absolute;
    left: 49.96dvw;
    top: 38.7dvh;
    font-size: 0.8dvw; 
}
.twilight{
    position: absolute;
    left: 64.92dvw;
    top: 38.7dvh;
    font-size: 0.8dvw; 
}
.MFDOOM{
    position: absolute;
    left: 79.93dvw;
    top: 38.7dvh;
    font-size: 0.8dvw;
}