
.crazy{
    width: auto;
    height:auto;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.block{
    background-color: gray;
    width:auto;
    align-items: center;
}
.clump{
    text-align: center;
    align-items: center;
}