.row {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px;
  max-height: 6dvh;
  height: 6dvh;
}

li a:hover {
  background-color: rgb(37, 37, 37);
}

nav ul {
  padding: 0px;
  margin: 0px;
  background: #000;
  overflow: auto;
}

nav {
  position: sticky;
  top: 0;
  width: 100dvw;
  background-color: black;
  margin: 0 0 0 0;
  /* display: block; */
  max-height: 5dvh;
  height: 5dvh;
}

nav li {
  list-style: none;
  float: left;
}
nav li a {
  background-color: black;
  display: block;
  text-decoration: none;
  color: white;
  border-right: 0.05dvh solid #e7e7e7;
  padding-left: 0.8dvw;
  padding-right: 0.8dvw;
  font-size: 1.5dvw;
  max-height: 5dvh;
  height: 5dvh;
  
}
