.row {

  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.link {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px;
    top: 0;
    
}


li a:hover {
    background-color: rgb(37, 37, 37);
}

nav ul{
  padding:0px;
  margin:0px;
  background:#000;
  overflow:auto;
}

nav{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
  margin: 0 0 0 0;
  display: block;
}

nav li {
  list-style: none;
  float: left;
}
nav li a{
    background-color: black;
    display: block;
    text-decoration: none;
    color: white;
    border-right: 2px solid #e7e7e7;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
}